:root {
  --font-inter: 'Inter', sans-serif;
  --font-noto: 'Noto Serif', serif;

  --color-primary: #e95a08;
  --color-primary-light: #ed7b39;
  --color-primary-dark: #ba4806;

  --color-black: #000;
  --color-white: #fff;

  --color-dark: #111;
  --color-body: rgba(0, 0, 0, 0.5);

  --color-footer: #6b7280;
  --color-nav: #8987a1;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  font-family: var(--font-inter);
  color: var(--color-body);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  min-height: 100vh;
}

a {
  text-decoration: none;
  display: inline-block;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}
/* //////////////////////////////// */
.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 6rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-family: var(--font-noto);
  font-weight: 800;
  line-height: 1.3;
  color: var(--color-black);
}
.heading-primary {
  font-size: 5.6rem;
  text-transform: uppercase;
}
.heading-secondary {
  font-size: 4.4rem;
}
.heading-tertiary {
  font-size: 3.6rem;
  color: var(--color-white);
}

.heading-quaternary {
  font-family: var(--font-inter);
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color-black);
}

.btn,
.btn:link,
.btn:visited {
  background-color: var(--color-primary);
  color: var(--color-white);
  outline: none;
  border: none;
  padding: 0.8rem 2.5rem;

  transition: 0.5s;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: var(--color-primary-dark);
}

.d-flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.mb-lg {
  margin-bottom: 8rem;
}
.mb-md {
  margin-bottom: 4rem;
}
.mb-sm {
  margin-bottom: 2rem;
}
.mb-xs {
  margin-bottom: 1rem;
}
