/* Laptop */
@media screen and (max-width: 64rem) {
}
/* Tablet */
@media screen and (max-width: 48rem) {
  .header__logo img {
    height: 6rem;
  }
}
/* Mobile large */
@media screen and (max-width: 40rem) {
  .menu {
    display: none;
  }
}
/* Mobile */
@media screen and (max-width: 30rem) {
  .container {
    padding: 0 2rem;
  }
  .header__logo img {
    height: 4rem;
  }
}
