/* ///////////////////////////////////// */
/* Laptop 1024px */
/* ///////////////////////////////////// */
@media screen and (max-width: 64rem) {
  .container {
    padding: 0 4rem;
  }
  html {
    font-size: 50%;
  }
  .heading-primary {
    font-size: 5.2rem;
  }
  .footer {
    padding: 6rem 4rem;
  }
}
/* ///////////////////////////////////// */
/* Tablet 768px */
/* ///////////////////////////////////// */
@media screen and (max-width: 48rem) {
  .header__logo img {
    height: 6rem;
  }

  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(0, max-content));
    align-items: start;
    row-gap: 4rem;
  }
  .hero__content {
    grid-row: 2;
  }
  .hero__img {
    justify-items: end;
  }

  .plant__items {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 3rem;
  }
  .client {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(0, max-content));
    gap: 4rem;
  }

  .client__img > img {
    width: 100%;
  }

  .client__trust {
    display: none;
  }

  .subscribe__input [type='email'] {
    flex-basis: 65%;
    padding: 1.2rem 1rem;
  }

  .footer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 5rem;
  }
}
/* ///////////////////////////////////// */
/* Mobile large 640px */
/* ///////////////////////////////////// */
@media screen and (max-width: 40rem) {
  html {
    font-size: 43.75%;
  }
  .menu {
    display: none;
  }

  .plant__content {
    max-width: 90%;
  }
  .client {
    margin-top: -6rem;
  }

  .deals__figures {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 30rem);
    gap: 2.5rem;
  }

  .deals__figure--2 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
  }
  .deals__figure--1,
  .deals__figure--2,
  .deals__figure--3 {
    background-size: cover;
  }

  .deals__figure:nth-child(odd) .heading-tertiary {
    font-size: 3rem;
  }
  .deals__figure:nth-child(even) .heading-tertiary {
    font-size: 3rem;
  }

  .deals__figure--1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
      url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .deals__figure--2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
      url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .deals__figure--3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .deals__figure:nth-child(odd) a:link,
  .deals__figure:nth-child(odd) a:visited {
    font-size: 3rem;
  }

  .subscribe__container {
    gap: 3rem;
  }

  .subscribe__container .heading-secondary {
    font-size: 3rem;
  }
  .footer {
    column-gap: 8rem;
  }
  .footer__social {
    grid-column: 1 / span 2;
  }
}
/* ///////////////////////////////////// */
/* Mobile 480px */
/* ///////////////////////////////////// */
@media screen and (max-width: 30rem) {
  .container {
    padding: 0 2rem;
  }
  .heading-secondary {
    font-size: 4rem;
  }
  .header__logo img {
    height: 4rem;
  }
  .heading-primary {
    font-size: 4.5rem;
  }

  .plant__content {
    max-width: 100%;
  }
  .subscribe__container .heading-secondary {
    font-size: 2.5rem;
  }
  .footer {
    grid-template-columns: 1fr;
    padding: 6rem 4rem;
  }
  .footer__social {
    grid-column: 1 / span 1;
  }
}
