/* ///////////////////////////////////// */
/* HEADER */
/* ///////////////////////////////////// */
.header__nav {
  align-items: center;
  justify-content: space-between;

  padding: 2rem 0;
}

.header__logo img {
  height: 6.5rem;
}

.header__menu {
  gap: 3.5rem;

  margin-left: auto;
}

.menu {
  gap: 3rem;
}

.menu__item {
  list-style: none;
}
.menu__link:link,
.menu__link:visited {
  color: var(--color-nav);

  transition: 0.5s;
}

.menu__link:hover,
.menu__link:active {
  color: var(--color-primary-light);
}

#menu__link--active {
  color: var(--color-black);
}
.cart {
  gap: 0.5rem;
  align-items: center;
}

.cart:link,
.cart:visited,
.cart:hover,
.cart:active {
  color: var(--color-black);
}
/* ///////////////////////////////////// */
/* HERO */
/* ///////////////////////////////////// */
.hero {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: end;
}
.hero__content span {
  color: var(--color-primary);
}
/* ///////////////////////////////////// */
/* PLANT */
/* ///////////////////////////////////// */

.plant__content {
  flex-direction: column;
  max-width: 80%;
  text-align: center;
  margin: 0 auto 4.5rem;
}
.plant__content span {
  color: var(--color-primary);
}

.plant__items {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-items: center;
  gap: 2.5rem;
}

.plant__item {
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

.plant__price {
  font-weight: 800;
  font-size: 2.2rem;
  color: var(--color-black);
}
.plant__item button {
  text-transform: uppercase;
  font-weight: 600;
}
/* ///////////////////////////////////// */
/* CLIENT */
/* ///////////////////////////////////// */
.client {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 6rem;
  align-items: center;
  padding: 6rem 0;
}
.client__items {
  flex-direction: column;
  gap: 1.5rem;
}
.client__items li {
  list-style-position: inside;
  margin-left: 1.5rem;
}
.client__img {
  position: relative;
}
.client__trust {
  max-width: 23rem;
  position: absolute;
  top: -15%;
  right: -18%;
  animation: spinning 2s ease-in-out 0s infinite;

  backface-visibility: hidden;
}
@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ///////////////////////////////////// */
/* DEALS */
/* ///////////////////////////////////// */
.deals__figures {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-template-rows: 20rem 20rem;
  gap: 2.5rem;
}
.deals__figure {
  border-radius: 1.5rem;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

.deals__figure:nth-child(odd) .heading-tertiary {
  font-size: 2rem;
}

.deals__figure--1 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url(../assets/deal-bloom.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.deals__figure--2 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url(../assets/deal-zabo.png);
  background-repeat: no-repeat;

  grid-row: 1 / -1;
  grid-column: 2 / span 1;
}
.deals__figure--3 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)),
    url(../assets/deal-ana.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.deals__figure a:link,
.deals__figure a:visited {
  color: var(--color-white);
  text-decoration: underline;
}

.deals__figure:nth-child(even) a:link,
.deals__figure:nth-child(even) a:visited {
  font-size: 3rem;
}
/* ///////////////////////////////////// */
/* SUBSCRIBE */
/* ///////////////////////////////////// */
.subscribe {
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6rem 0;
}
.subscribe__container {
  flex-direction: column;
  text-align: center;
  gap: 1rem;

  height: 30rem;
}
.subscribe__container .heading-secondary {
  color: var(--color-white);
}
.subscribe__input {
  width: 100%;
  justify-content: center;
}
.subscribe__input [type='email'] {
  flex-basis: 50%;
  padding: 1rem 1rem;
  border: none;
  outline: none;
}

.subscribe__input [type='email']:focus {
  box-shadow: inset 0px 0px 0px 2px var(--color-primary);
}

.subscribe__input [type='submit'] {
  flex-basis: 25%;
}
/* ///////////////////////////////////// */
/* FOOTER */
/* ///////////////////////////////////// */
.footer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  align-items: start;
  gap: 2rem;
  padding: 6rem;
}
.footer__logo {
  flex-direction: column;
  gap: 2rem;
}
.footer__menu {
  color: var(--color-footer);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer__social {
  gap: 2rem;
  align-items: center;
}
